* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  color: white;
  z-index: 1;
}

a {
  position: absolute;
  display: flex;
  justify-content: center;
  text-align: center;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}


.main-content {
  position: relative;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

img {
  width: 35rem;
}

.rotate {
  animation: rotation 100s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

@media only screen and (max-width: 1000px){
  img {
    width: 20rem;
  }
  h2{
    font-size: 15px;
  }
  }