*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  max-width: 100%;
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(243, 243, 243);
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
}

nav li {
  color: black;
  font-size: 18px;
  padding: 20px;
}

nav a{
  text-decoration: none;
}

.main-container{
  max-width: 100%;
  padding-top: 40px;
  background-color: rgb(243, 243, 243);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.main-container h1 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 70px;
  padding-bottom: 40px;
}

button {
  width: 8rem;
  height: 3rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 700;
  border-radius: 7px;
  background-color: black;
  color: rgb(243, 243, 243);
  border: 2px solid black;
}

button:hover{
  background-color: rgb(243, 243, 243);
  color:black;
  cursor: pointer;
  transition-duration: .5s;
}

.main-container img{
  max-width: 600px;
}

@media only screen and (max-width: 1000px){
  nav ul {
    display: flex;
    justify-content: center;
  }
  .main-container{
    
    flex-wrap: wrap;
    gap: 100px;
  }
  .main-container h1{
    font-size: 55px;
    text-align: center;
  }
  .left-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .img-container{
    flex-wrap: wrap;
  }
  }

  .middle-body{
    background-color: rgb(243, 243, 243);
    padding-top: 40px;
  }

  .middle-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 30px;
  }

  .middle-heading h2{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 50px;
  }

  .img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
  }

  .img-container img{
    max-width: 500px;
    
  }