*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(243, 243, 243);
}



/* START OF NAV BAR SECTION  */
nav {
  max-width: 100%;
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(243, 243, 243);
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
}

nav li {
  color: black;
  font-size: 15px;
  padding: 20px;
}

nav a{
  text-decoration: none;
}
/* END OF NAV BAR SECTION */




/* START OF MAIN SECTION */
.main-container{
  
  padding-top: 40px;
  background-color: rgb(243, 243, 243);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.main-container h1 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 70px;
  padding-bottom: 40px;
}

.btn {
  width: 8rem;
  height: 3rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 700;
  border-radius: 7px;
  background-color: black;
  color: rgb(243, 243, 243);
  border: 2px solid black;
}

.btn:hover{
  background-color: rgb(243, 243, 243);
  color:black;
  cursor: pointer;
  transition-duration: .5s;
}

.main-container img{
  max-width: 600px;
}
/* END MAIN SECTION */




/* MIDDLE BODY SECTION */
.middle-body{
  background-color: rgb(243, 243, 243);
  padding-top: 40px;
}

.middle-heading{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.middle-heading h2{
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 25px;
}

.img-container{
  max-width: 100%;
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.img-card{
  max-width: 505px;
}

.img-card h3{
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  padding-top: 5px;
  padding-bottom: 8px;
  text-transform: uppercase;
}

.img-card p{
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

.img-card img {
  max-width: 350px;
}

i{
  padding-top: 25px;
  padding-bottom: 15px;
}

span{
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 600;
}



/* END MIDDLE BODY SECTION  */

.shop-container {
  padding-top: 50px;
  display: grid;
  justify-content: center;
  align-items: center;
}

.shop-grid{
  position: relative;
  display: flex;
  align-items: center;
}

.shop-grid h2{
  position: absolute;
  font-family: Helvetica, sans-serif;
  font-size: 35px;
  font-weight: 600;
  margin: 0 auto;
  top: 400px;
  left: 90px;
  color: black;
  text-transform: uppercase;
  background-color: transparent;
}

.shop-grid .shop-btn{
  position: absolute;
  top: 460px;
  left: 90px;
}

.shop-btn {
  width: 7rem;
  height: 2.2rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 700;
  border-radius: 4px;
  background-color: rgb(243, 243, 243);;
  color: black;
  border: 2px solid black;
}

.shop-grid img{
  max-width: 800px;
}






/* MEDIA QUERY RESPONSIVE SECTION */

@media only screen and (max-width:575px){ 

  /* ANYTHING UPTO 575px WONT DISPLAY THE NAV BAR */
  nav{
    display: none;
  }

}





@media only screen and (max-width: 850px){

  nav ul {
    
    text-align: center;
    padding-top: 10px;
    padding-right: 0;
  }

  nav li {
    padding: 5px;
  }
  .main-container{
    flex-wrap: wrap;
    gap: 100px;
  }
  .main-container h1{
    font-size: 55px;
    display: block;
    align-items: center;
    text-align: center;
  }

  .main-container img{
    max-width: 350px;
  }

  .left-card{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .img-container{
    display: grid;
    grid-template-columns: repeat(2, 150px);
    column-gap: 10px;
  }
  .img-card{
    margin: 0;
  }

  .img-card img {
    max-width: 150px;
  }

  .img-card p {
    padding-left: 2px;
    font-size: 12px;
  }

  .img-card h3{
    padding-left: 2px;
    font-size: 9px;
    padding-top: 5px;
    padding-bottom: 8px;
    text-transform: uppercase;
  }

  i{
    padding-left: 2px;
  }

  span{
    padding-left: 2px;
    display: block;
    font-size: 12px;
    font-weight: 600;
  }


  

  .shop-container{
    display: grid;
    grid-template-columns: repeat(2, 150px);
  }

  .shop-container img{
    max-width: 150px;
  }
  
  }


 
